#background{
	background-image: url(brainstorming.jpg);
	background-size: cover;
}

.overlay{
	background-color: rgb(36, 149, 201, 0.6);
	padding-right: 10%;
	padding-left: 10%;
	height: 800px;
}

.box{
	border-radius: 5%;
	
}